
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Sign Up Now </h1>
        <h2class="lead">Sign up and you and your friends can go head to head in fantasy leauge football</h2>
<%= form_for(@user, url: registrations_path) do |f| %>
<h2>Sign Up</h2>
<%= f.label :first_name %>
<br>
<%= f.text_field :first_name, class:"textbox" %>
<br><br>
<%= f.label :last_name %>
<br>
<%= f.text_field :last_name  ,class:"textbox" %>
<br><br>
<%= f.label :email %>
<br>
<%= f.email_field :email, class:"textbox" %>
<br><br>
<%= f.label :password %>
<br>
<%= f.password_field :password  ,class:"textbox" %>
<br><br>
<%= f.label :password_confirmation %>
<br>
<%= f.password_field :password_confirmation ,class:"textbox" %>
<br><br>
<%= f.submit "Submit", class: "css_button" %>
<% end %>
      </div>
    </div>
  </div>
</div>
